.carousel-item img {
    height: 600px;
}
/* mobile */
@media screen and (max-width:688px) {
    .small {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* tablet */
@media screen and (min-width:689px) and (max-width:992px) {
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .regcontent {
margin-top: 40px;
align-items: center;
    }
}
/* small device */
@media screen and (max-width:688px) {
    .register {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .regcontent {
        margin-top: 40px;
        align-items: center;
            }
}
/* medium device */
@media screen and (min-width:689px) and (max-width:992px) {
    .trusted-company {
        display:none
    }
}
/* small device */
@media screen and (max-width:688px) {
    .trusted-company {
        display:none
    }
}

.footer-social a:visited {
    color:white;
  }

